TYPE=OVSBridge
BOOTPROTO=static
NAME=br-ex
DEVICE=br-ex
ONBOOT=yes
DEVICETYPE=ovs
USERCTL=yes
PEERDNS=yes
IPV6INIT=no
IPADDR={{ansible_default_ipv4.address}}
NETMASK={{ansible_default_ipv4.netmask}}
GATEWAY={{ansible_default_ipv4.gateway}}
DNS1={{ansible_default_ipv4.gateway}}
