# ************************************
# Vhost template in module puppetlabs-apache
# Managed by Puppet
# ************************************
#
<VirtualHost *:5000>
  ServerName os-ctrl01.quasarstack.com

  ## Vhost docroot
  DocumentRoot "/var/www/cgi-bin/keystone"

  ## Directories, there should at least be a declaration for /var/www/cgi-bin/keystone

  <Directory "/var/www/cgi-bin/keystone">
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ServerAlias {{ansible_host}}
  ServerAlias {{ansible_fqdn}}
  ServerAlias {{ansible_hostname}}
  ServerAlias localhost

  ## SSL directives
  SSLEngine on
  SSLVerifyClient none
  SSLCertificateFile      "{{ssl_cert}}"
  SSLCertificateKeyFile   "{{ssl_key}}"
  SSLCACertificateFile    "{{ca_cert}}"


  ## Logging
  ErrorLog "/var/log/httpd/keystone_wsgi_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/keystone_wsgi_access.log" combined
  SetEnvIf X-Forwarded-Proto https HTTPS=1

  ## WSGI configuration
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess keystone display-name=keystone group=keystone processes=4 threads=1 user=keystone
  WSGIProcessGroup keystone
  WSGIScriptAlias / "/var/www/cgi-bin/keystone/keystone"
  WSGIPassAuthorization On
</VirtualHost>
