Listen 5000
NameVirtualHost *.5000

<VirtualHost *:5000>
  ProxyPreserveHost On
  ProxyPass / http://{{os_controller}}:5000/
  ProxyPassReverse / http://{{os_controller}}:5000/

  ServerName {{proxy_host}}
  
  ErrorLog /var/log/httpd/keystone_ssl_error.log
  LogLevel warn
  CustomLog /var/log/httpd/keystone_ssl_access.log combined

  SSLEngine on
  SSLCipherSuite ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS:!RC4
  SSLCertificateKeyFile {{path_server_key}}
  SSLCertificateFile {{path_server_cert}}
  SSLCertificateChainFile {{path_ca_cert}}
</VirtualHost>
